body{
    /* background-color: black;
    color: antiquewhite; */
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.buttons{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.results{
  color: black;
}

.announceWin{
    color: red;
    font-size: 20px;
}

.icons{
    height: 150px;
    width: auto;
    border: solid;
    padding: 10px;
    
}